<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299395216236-kbog7fb0q0rnd071iirm0id3k58o2qfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299395216236-kbog7fb0q0rnd071iirm0id3k58o2qfd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>299395216236-kpf6k6ei0oep0ib08fucnmkvubfgv498.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXki-E02UMQukioO4zsZftmB1t-zGx8KU</string>
	<key>GCM_SENDER_ID</key>
	<string>299395216236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourdomain.deardiaryFirebase</string>
	<key>PROJECT_ID</key>
	<string>deardiary-ae52b</string>
	<key>STORAGE_BUCKET</key>
	<string>deardiary-ae52b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299395216236:ios:e2e0d4a4056272d012f949</string>
</dict>
</plist>